/* autoprefixer grid: autoplace */

@mixin section-border {
  background-color: bisque;
  border: orangered 1px solid;
  border-radius: 5px;
}
.App {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "App-header"
    "av-check"
    "overview"
    "hardware"
    "prod-details"
    "price-details";
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 98%;
}

@media (min-width: 500px) {
  .App {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "App-header App-header"
      "av-check av-check"
      "overview overview"
      "hardware prod-details"
      "price-details price-details";
    width: 80%;
  }
}

.App-header {
  grid-area: App-header;

  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.av-check {
  @include section-border;

  grid-area: av-check;
}

.overview {
  @include section-border;
  grid-area: overview;
}

.hardware {
  @include section-border;
  grid-area: hardware;
  display: grid;
  grid-template-areas:
    "hardware__image"
    "select"
    "price";

  &__image {
    grid-area: hardware__image;
    margin: auto;
    width: 50px;
  }

  &__select {
    grid-area: select;
  }

  &__price {
    grid-area: price;
  }
}

.prod-details {
  @include section-border;
  grid-area: prod-details;

  &__table {
    margin: auto;
  }
}

.price-details {
  @include section-border;
  grid-area: price-details;
  
  &__table {
    margin: auto;
  }
}
